

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    max-width: 1100px;
    margin: 30px auto;
    background: beige;
    clear: both;
}

h1{
    font-size: 3em;
    text-align: center;
}

.center{
    text-align:center;
    font-size: 3em;
}

form{
    max-width: 400px;
    margin: 0 auto;
}

input{
    width: 100%;
    margin-bottom: 10px;
}

label{
    display: block;
    font-weight: bold;
}

fieldset{
    border:2px solid brown;
    padding: 10px;
}

header{
    background: #ddd;
    padding: 20px;
    overflow: hidden;
}

.success{
    float: left;
}


.welcome-logout{
    float: right;
}

footer {
    height: 60px;
    line-height: 60px;
    border-top: 1px solid #ddd;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer li {
    justify-content: center;
    margin: 0 15px;
}